
DungeonCrawler/.vs/DungeonCrawler/v16/.suo
DungeonCrawler/.vs/DungeonCrawler/v16/Server/sqlite3/db.lock
DungeonCrawler/.vs/DungeonCrawler/v16/Server/sqlite3/storage.ide
DungeonCrawler/.vs/DungeonCrawler/v16/Server/sqlite3/storage.ide-shm
DungeonCrawler/.vs/DungeonCrawler/v16/Server/sqlite3/storage.ide-wal
DungeonCrawler/DungeonCrawler.sln
DungeonCrawler/DungeonCrawler/bin/Debug/DungeonCrawler.exe
DungeonCrawler/DungeonCrawler/bin/Debug/DungeonCrawler.exe.config
*.pdb
*.cache
DungeonCrawler/DungeonCrawler/obj/Debug/DungeonCrawler.exe
DungeonCrawler/DungeonCrawler/obj/Debug/DungeonCrawler.csproj.FileListAbsolute.txt
